#codingProjects,
#music {
    display: none;
}

#navbar {
    background-color: transparent;
    padding: 0;
    margin: 0;
    grid: auto / auto auto auto;
    width: 100%;
    display: grid;
    height: 10%;
}

#aboutMe {
    display: grid;
}

body {
    grid: 20% / auto;
}

.page {
    margin: 0;
    padding: 0;
    animation-name: slideIn;
    animation-duration: 0.25s;
    height: 100%;
}

#codingProjects {
    grid: auto / auto auto auto;
}

a {
    display: flex;
    flex-flow: row wrap;
}