@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    color: White;
    background-color: hsl(240, 25%, 25%);
    font-family: "Lato", sans-serif;
    border-radius: 1vmin;
    border: none;
    margin: 1vmin;
    padding: 2vmin;
    font-size: 2vmin;
    outline: none;
    box-sizing: border-box;
    transition: 0.2s;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    justify-content: center;
}

html {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 2vmin;
    background-color: hsl(240, 20%, 20%);
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 100%;
    flex-flow: column wrap;
}

body *:not(script) {
    display: flex;
    flex-grow: 1;
}

h1 {
    font-size: 300%;
    justify-content: center;
    align-items: center;
    display: initial;
}

p {
    font-size: 100%;
}

button,
select,
option {
    cursor: pointer;
    text-align: center;
    align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.full-width {
    width: calc(100% - 2vmin);
}

.full-height {
    height: calc(100% - 2vmin);
}

.extra-bottom-margin {
    margin-bottom: 2vmin;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.page {
    flex-grow: 10;
    flex-flow: column nowrap;
    animation: slideIn 0.5s ease-out 0s 1 normal;
}

div {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#aboutMeButton {
    background-color: hsl(240, 30%, 30%);
}

#music, #codingProjects {
    display: none;
}

.grid {
    display: grid;
    justify-content: stretch;
    flex-grow: 3;
}

a {
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 200%;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: hsl(240, 30%, 30%);
}