body * {
    justify-content: center;
    align-items: center;
    align-content: center;
}

#socials, #codingProjects {
    display: none;
}

#navbar {
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    margin: 1rem;
}

.page {
    margin: 1rem;
}